.logo {
  float: left;
  margin-right: 1.5rem;
  padding: 0 2rem;
  background-color: palegreen;
}

.login-form {
  width: 400px;
  margin: 1rem auto;
}

.card__grid {
  width: 25%;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
}
